# Main Server
PORT=5555
DATABASE_URL="mongodb://127.0.0.1/Sirius"
CLIENT_SECRET="1a2b3c4d5e6f7g8h9i10j11k12l13m14n15o16p17q18r19s20t21u22v23w24x25y26z27a28b29c30d..."
XMPP_PORT=5433
isXmppEnabled=false

# if the discord bot or website is enabled.
isWebEnabled=false
isDiscordBotEnabled=false

# Discord Bpt
TOKEN="BOT_TOKEN_HERE"
# Bot Commands Channel ID
CHANNEL_ID=""
CLIENT_ID=""
# Server ID
GUILD_ID=""

# ItemShop Webhook
webhookId="WEBHOOK_ID_HERE"
webhookToken="WEBHOOK_TOKEN_HERE"

# Matchmaker Options
MATCHMAKER_PORT=8090
isMatchmakerEnabled=true

# Shop
isSpecialShop=false